.login{
    display: block;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    
    background-color: white;
    
}
.login__input{
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 12px;
    padding: 10px;
    
    
}
.login__text{
    margin-left: 90px;
    font-size: 20px;
    font-weight: 600;
}
.login__title{
    margin-left: 60px;
    margin-bottom: 20px;
    
}
.login__button{
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #f0c14b ;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #848a29;
    
    color: white ;
    font-weight: 500 ;
    text-transform: inherit t ;
    border-radius: 30px ;
    margin-top: 20px ;
    font-size: 20px;
    
   
}
.login__img{
    width: 200px;
    object-fit: contain;
    margin-top: 18px;
    margin-left: 80px;
    margin-right: 20px;
}